:root{
    --main: #fd5c63;
    --black: #000101;
    --gray: #222323;
    --lighter-gray: #F7F7F7;
    --divider: #dfdfdf;
    --hover: rgb(227, 227, 227);

    --main-ish: #DF3051;
    --main-ish-darker: #CC2D4A;
    --orange: #D83A30;
    --violet: #BD1B6E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    min-height: 100vh;
    overflow-x: hidden;
}


header{
    display: flex;
    flex-direction: column;
    background-color: #000101;
}

/* NAV */
nav{
    display: flex;
    width: 100%;
    height: 50px;
    padding: 40px 80px;
    align-items: center;
}

svg{
    fill: white;
}

a{
    color: white;
}

/* Left Nav */
.nav-left{
    width: 350px;
}

.logo{
    width: 100px;
    height: 32px;
    display: flex;
    align-items: flex-end;
}

.logo svg{
    overflow: visible;
    width: 100%;
    height: 100%;
}

/* Center Nav */
.nav-center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    column-gap: 5px;
}

.menu_text{
    padding: 12px;
}

/* Right Nav */
.nav-right{
    width: 400px;
    display: flex;
}

.nav-right-container{
    display: flex;
    justify-content: center;
}

.globe_icon{
    padding: 12px;
}
.nav-right-container a{
    padding: 10px;
}

.nav-right-container div:last-child{
    margin-left: 10px;
}

.profile__button{
    display: flex;
    align-items: center;
    width: 79px;
    height: 40px;

    background-color: white;
    padding: 10px 7px 10px 15px;

    border-radius: 40px;
}

.profile-button div:last-child{
    margin-left: 10px;
}

/* Search Bar */

.search__bar{
    display: flex;
    width: 800px;

    align-self: center;

    background-color: white;
    border-radius: 40px;
}

/* Search Inputs */
.search__input{
    padding: 13px 40px 13px 30px;
}

.label{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 6px;
}

.input{
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

.textinput{
    background: none;
    border: none;
}

.textinput::placeholder{
    color: gray;
}

.search__atom{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.search__atom:hover{
    background-color: var(--hover);
    border-radius: 40px;
}

.divider{
    align-self: center;
    height: 36px;
    border-left: 1px solid rgba(128, 128, 128, 0.355);
}

.search__text{
    display: none;
}

.search__small{
    width: 180px;
    padding: 13px 0px 13px 20px;
}

/* Search Button */

.search__button{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: #FF385C;
    border: none;
    border-radius: 40px;

    height: 50px;
    width: 50px;

    margin-left: -40px;
    z-index: 5;
    cursor: pointer;
}

.search__button:hover{
    background-color: #DF3051;
}

/* Guests Input */
.Guests:hover{
    background-color: white;
}

.Guests::after{
    content: ' ';
    display: block;
    position: absolute;
    top: 5rem;
    right: 24.4rem;
    height: 67px;
    width: 200px;
}

.Guests:hover::after{
    z-index: 1;
    background-color:rgba(227, 227, 227, 0.425);
    border-radius: 40px;
}


/* MAIN */

.Hero{
    padding: 30px 80px 0px 80px;
    margin-bottom: 100px;
}

.Hero__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 720px;
    background-image: url('../assets/95fab018-afab-4a2d-bf80-775b1dd57acf.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: white;
    padding-bottom: 70px;
}

.Hero__container .title{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.Hero__container .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 160px;
    background-color: white;
    border-radius: 40px;
}

.primary-button{
    font-size: 20px;
    font-weight: 800;

    background: -webkit-linear-gradient(360deg, rgba(70,4,121,1) 0%, rgba(255,56,92,1) 130%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* MAIN */

.Booking{
    padding: 0px 80px;
    background: linear-gradient(-180deg, var(--black) 0%, var(--black) 50%, white 50%, white 100%);
}

.Booking__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 720px;
    background-image: url('../assets/booking.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: white;
    padding-bottom: 70px;
    margin-bottom: 0px;
}

.Booking__container .title{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.Booking__container .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 160px;
    background-color: white;
    border-radius: 40px;
}

.section-container{
    padding: 60px 80px 0px 80px;
    display: flex;
    flex-direction: column;
}

.subTitle{
    padding-top: 60px;
    padding-bottom: 50px;
    font-size: 47px;
    font-weight: 600;
}

/* Nearby Section */

.Nearby__Destinations{
    display: flex;
    column-gap: 30px;
    /* justify-content: space-between; */
}

.nearby__card{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
}

.nearby__img{
    width: 100%;
}

.nearby__info{
    display: flex;
    flex-direction: column;
    background-color: #D93A31;
    height: 220px;
    color: white;
    padding-top: 25px;
    padding-left: 20px;
}

.destination2{
    background-color: #BD1B6E;
}
.destination3{
    background-color: #CC2C4B;
}
.destination4{
    background-color: #DF3051;
}

.nearby__title{
    font-size: 39px;
    font-weight: 600;
}

.nearby__distance{
    font-size: 26px;
}

/* Experience Section */

.Experiences{
    padding: 60px 80px 50px 80px;

}

.Experiences__Discover{
    display: flex;
    column-gap: 40px;
}

.experience__card{
    width: 100%;
    height: 48rem;
    background: url('../assets/experience.png');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
}

.experience__info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 4.5rem;
    padding-left: 4rem;
}

.online{
    background: url('../assets/onlineExperience.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.experience__title{
    display: inline-block;

    font-size: 53px;
    font-weight: 800;
    color: white;
    line-height: 1.4;

    margin-bottom: 30px;
}

.secondary-button{
    display: inline-block;
    padding: 15px 20px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: white;
}

/* Giftcards Section */

.Giftcard__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* column-gap: 40px; */
}

.giftcard__info{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.giftcard__title{
    font-size: 54px;
    font-weight: 800;
    color: var(--gray);
    margin-bottom: 30px;
    line-height: 1.1;
}

.secondary-button-dark{
    display: inline-block;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--gray);
}

.giftcard__image-container{
    width: 60rem;
}

.giftcard__image{
    width: 100%;
}

/* HOSTING */

.Hosting{
    padding: 60px 80px 0px 80px;
}

.Hosting__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45rem;
    background-image: url('../assets/host.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 10px;
    padding-top: 4.5rem;
    padding-left: 4.5rem;
    padding-bottom: 4rem;
}

.Hosting__title{
    font-size: 98px;
    font-weight: 600;
    line-height: 1.1;
    padding-right: 80%;
}

/* Inspiration Section */


.Inspiration__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.Inspiration__title{
    font-size: 22px;
    padding-bottom: 10px;
}

.Inspiration__nav{
    display: flex;
    column-gap: 0.5rem;
    padding: 10px 0px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 40px;
    font-size: 14px;
}

.Inspiration__nav li{
    padding: 10px;
    border-radius: 10px;
    color: var(--gray);
    cursor: pointer;
}

.Inspiration__nav li:hover{
    background-color: var(--lighter-gray);
}

.destinations{
    display: flex;
    flex-wrap: wrap;
}

.destiny{
    flex: 21%;
    margin-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
}

.destiny span{
    color: #a0a0a0;
}

.more{
    font-weight: 600;
    text-decoration: underline;
}

/* FOOTER */

footer{
    background-color: var(--lighter-gray);
    padding-top: 3.2rem;
    padding-bottom: 1.2rem;
}

.Links{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 80px 20px 80px;
}

.Links-containers {
    font-size: 14px;
    color: var(--gray);
    flex: 1;
}

.Links-containers div{
    font-weight: bold;
    margin-bottom: 10px;
}

.Links__list li{
    margin-bottom: 10px;
}

.Support__link{
    color: var(--gray);
}

.Support__link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.copy{
    padding: 0px 80px;
}

.copy__container{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--divider);
    padding-top: 20px;
    font-size: 14px;
}

.left{
    display: flex;
    column-gap: 5px;
}

.copy__info{
    display: flex;
    column-gap: 10px;
}

.copy__link{
    color: var(--gray);
}

.copy__link:hover{
    text-decoration: underline;
}

.mid a{
    color: var(--main);
}

.right{
    display: flex;
}

.currency{
    display: flex;
    column-gap: 4px;
    margin-left: 20px;
}

.copy__link-right{
    color: var(--gray);
    text-decoration: underline;
    cursor: pointer;
}


@media (max-width: 1024px) {

    /* NAV */

    nav{
        padding: 40px 40px;
        align-items: center;
        font-size: 14px;
    }

    .nav-left{
        width: 350px;
    }
    
    .logo{
        width: 100px;
        height: 32px;
        align-items: flex-end;
    }
    
    .logo svg{
        overflow: visible;
    }
    
    /* Center Nav */
    .nav-center{
        justify-content: center;
    }
    
    .menu_text{
        padding: 10px;
    }
    
    /* Right Nav */
    .nav-right{
        width: 25rem;
    }
    
    .nav-right-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .globe_icon{
        padding: 10px;
    }
    .nav-right-container a{
        padding: 0px;
    }
    
    .nav-right-container div:last-child{
        margin-left: 10px;
    }
    
    .profile__button{
        display: flex;
        align-items: center;
        width: 79px;
        height: 40px;
    
        background-color: white;
        padding: 10px 7px 10px 15px;
    
        border-radius: 40px;
    }
    
    .profile-button div:last-child{
        margin-left: 10px;
    }

    /* SearchBar */



    /* Hero */
    
    .Hero{
        padding: 30px 40px;
        margin-bottom: 30px;
    }

    .Hero__container{
        height: 35rem;
    }

    .Hero__container .title{
        font-size: 25px;
        font-weight: bold;
    }
    
    .Hero__container .button-container{
        height: 48px;
        width: 129px;
    }

    /* Booking */
    .Booking{
        margin-top: -1px;
        padding: 30px 40px;
    }
    
    .Booking__container{
        height: 35rem;
    }
    
    .Booking__container .button-container{
        height: 48px;
        width: 129px;
    }
    
    .Booking__container .title{
        font-size: 36px;
        font-weight: bold;
    }
    
    /* General Class */
    
    .primary-button{
        font-size: 14px;
    }
    
    .section-container{
        padding: 60px 40px 0px 40px;
    }

    .subTitle{
        padding-top: 0px;
    }

    /* Nearby */

    .Nearby__Destinations{
        column-gap: 20px;
    }

    .nearby__info{
        height: 160px;
    }
    
    .nearby__title{
        font-size: 30px;
    }

    .nearby__distance{
        font-size: 16px;
    }

    /* Experiences */
    .Experiences__Discover{
        column-gap: 20px;
    }
    
    .experience__card{
        width: 29rem;
        height: 29rem;
    }
    
    .experience__info{
        padding: 2rem;
    }

    .experience__title{
        font-size: 34px;
        line-height: 1.2;
    }
    
    .secondary-button{
        display: inline-block;
        padding: 15px 20px;
        color: black;
        font-size: 16px;
        font-weight: 600;
        border-radius: 10px;
        background-color: white;
    }
    /* Giftcard Section */

    .giftcard__title{
        font-size: 36px;
    }

    .giftcard__image-container{
        width: 40rem;
    }

    /* Hosting Section */
    .Hosting{
        padding: 0;
        padding-top: 40px;
        margin-bottom: 40px;
    }
    
    .Hosting__container{
        display: flex;
        height: 30rem;
        background-image: url('../assets/host.jpg');
        border-radius: 0px;
        padding: 40px;
    }
    
    .Hosting__title{
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.1;
        padding-right: 80%;
    }

    /* Inspiration */

    .Inspiration{
        padding-top: 0;
        padding-left: 40px;
        padding-right: 40px;
    }

    .destiny{
        flex: 33%;
    }
    
    /* Links */

    footer{
        padding: 0px 40px;

    }

    .Links{
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 40px 0px;
    }

    .Links-containers{
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--divider);
    }

    .Links__list{
        display: flex;
        flex-wrap: wrap;
    }

    .Support__link{
        display: block;
        margin-top: 12px;
        padding: 0px 12px;
        width: 310px;
        flex: 30%;
    }
    
    /* .Links__list{
        font-size: 14px;
        color: var(--gray);
        flex: 1;
    } */
}